@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
div{
    position: static;
    text-align: center;
    color: white;   
    font:bolder;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 60px;
}

/* 메인 화면의 기본 배경 이미지 설정 */
body{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("media/main_image.jpg");
}

/* 전체 텍스트 부분 조정 */
#for{
    font-size: 20px;
    margin-top: 27%;
}

/* 시작 버튼 */
.start_btn{
    background: none;
    border: none;
    font-style: italic;
    font-size: 50px;
    font-family: 'Do Hyeon', sans-serif;
    color: skyblue;
    margin-top: 1%;
}