@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body{
    font-family: 'Do Hyeon', sans-serif;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("media/main_image.jpg");
    display: block;
    box-sizing: inherit;
}

*{
    box-sizing: inherit;
}

.container{
    width: 100%;
    min-height: 96vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px!important;
}

/* 좌측 네비게이션 */
#menuwrap{
    background-color:#31aece;
    width:10%;
    display: inline-block;
    float: left;
    padding: 0 8px;
}

#menuwrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #31aece;
}

#menuwrap li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    margin-top:30px;
}

#menuwrap li a:hover{
    color: black;
}

#menuwrap li div:hover{
    cursor: pointer;
}

#burger div{
    width:70%;
    height:6px;
    margin:7px;
    background-color: white;
    position: relative;
    left:10%;
    top :3px;
}

#groups{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 8px 16px;
    margin-top:30px;
}

#g{
    pointer-events: none;
}

/* 친구 추가 버튼 */
#add_friend_btn{
    font-size: 15px;
    width:fit-content;
    display: block;
    position: absolute;
    overflow: hidden;
    background: white;
    border: none;
    bottom: 25px;
    left: 30px;
}

/* 우측 내용 칸(전체)*/ 
.container_con{
    width: 86%;
    padding: 0 8px;
}

/* 그룹 정보 */
.left_group_info{    
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    display: inline-block;
    float: left;
    width: 30%;
    height: 100%;
    padding: 0 8px;
}

.group_center_img{
    vertical-align: middle;
    width: 100%;
}

#group_img{
    width: 90%;
}

/* 그룹 캘린더 버튼 */
.go_btn{
    margin-top: 1%;
    margin-left: 30%;
    width: 60%;
    display: block;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    background: skyblue;
    border: none;
    font-size: 25px;
}

/* 작성 버튼 */
.write_btn{
    margin-top: 50%;
    margin-left: 30%;
    margin-bottom: 3%;
    width: 60%;
    display: block;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    background: skyblue;
    border: none;
    font-size: 25px;
}

/* 그룹 게시판 목록 */
.wrapper_list{
    display: inline-block;
    float: left;
    width: 65.9%;
    height: 100%;
    padding: 0 8px;
}

.group_list{    
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    width: 100%;
}

/* 게시물 번호*/
.list_num{
    width: 5%;
}

/* 게시물 제목 */
.list_title{
    width: 50%;
}

/* 게시물 작성자 */
.list_writer{
    width: 25%;
}
/* 게시물 작성 시간*/
.list_date{
    width: 30%;
}

/* 게시물을 보여주는 Modal */
#modal_content{        
    background-color: gray;
    background: rgba(0,0,0,0.4); 
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    text-align:center;
}

#modal_wrapper{
    border: 2px solid white;
    border-radius: 25px;
    background-color: #ffffff; 
    position:absolute;
    top:50%;
    left:50%;
    width: 60%;
    height: 450px;
    transform:translate(-50%, -50%);
}

#Notice_title{
    display: block;
    width: 100%;
    height: 5%;
    margin-top: 3%;
}

.modal_close_btn{
    position: absolute;
    top: 10px;
    right: 10px;
}

#wrapper_notice{
    display: block;
    margin-top: 3%;
}

.Notice_writer{
    display: inline-block;
    margin-right: 1%;
}

.Notice_date{
    display: inline-block;
    margin-right: 1%;
}

.wrapper_content{
    margin: 3% 1%;
}

/* 친구 추가를 하는 Modal */
#add_modal_content{        
    background-color: gray;
    background: rgba(0,0,0,0.4); 
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    text-align:center;
}

#add_modal_wrapper{
    border: 2px solid white;
    border-radius: 25px;
    background-color: #ffffff; 
    position:absolute;
    top:50%;
    left:50%;
    width: 60%;
    height: 150px;
    transform:translate(-50%, -50%);
}

#text{
    display: inline-block;
}

#friend_email{
    display: inline-block;
}