a { color:#000000;text-decoration:none; }
    .scriptCalendar { text-align:center; width: 85%; height: 90%; margin: auto;}
    .scriptCalendar > thead > tr > td { width:50px;height:50px; }
    .scriptCalendar > thead > tr:first-child > td { font-weight:bold; }
    .scriptCalendar > thead > tr:last-child > td { background-color:#90EE90; }
    .scriptCalendar > tbody > tr > td { width:50px;height:50px; vertical-align: top; }
    #menuwrap{
        background-color:#31aece;
        width: 10%;
        height: 100%;
        float: left;
    }   
    #menuwrap ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #31aece;
    }
    #menuwrap li a {
        display: block;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        text-align: center;
        margin-top:30px;
    }
    #menuwrap li a:hover{
        color: black;
    }
    #menuwrap li div:hover{
        cursor: pointer;
    }
    #burger div{
        width:75px;
        height:6px;
        margin:7px;
        background-color: white;
        position: relative;
        left:30px;
        top :3px;
    }