@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body{
    font-family: 'Do Hyeon', sans-serif;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("media/main_image.jpg");
    display: block;
    box-sizing: inherit;
}

*{
    box-sizing: inherit;
}

.limiter{
    width: 100%;
    min-height: 97vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px!important;
}

/* 좌측 네비게이션 */
#menuwrap{
    background-color:#31aece;
    width:10%;
    display: inline-block;
    float: left;
    padding: 0 8px;
}

#menuwrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #31aece;
}

#menuwrap li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    margin-top:30px;
}

#menuwrap li a:hover{
    color: black;
}

#menuwrap li div:hover{
    cursor: pointer;
}

#burger div{
    width:70%;
    height:6px;
    margin:7px;
    background-color: white;
    position: relative;
    left:10%;
    top :3px;
}

#groups{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 8px 16px;
    margin-top:30px;
}

#g{
    pointer-events: none;
}

/* 컨테이너 */
.container{
    border-radius: 0 20px 20px 0;
    background-color: white;
    display: inline-block;
    float: left;
    width: 87%;
}

/* 상단 그룹 이름 */
.group_name{
    display: block;
    padding: 0 10px;
    font-size: 50px;
}

/* 게시판 작성 칸 */
.writing_form{
    display: block;
    padding: 0 10px;
}

/* 게시물 제목 */
.title{
    display: block;
    width: 90%;
    padding: 10px;
    height: 40px;
    border-bottom: 1px solid grey;
}

#input_title{
    height: 100%;
    width: 80%;
    font-size: 30px;
    border: none;
}

/* 게시물 내용 */
.content{
    width: 90%;
    padding: 10px;
    height: 60%;
}

#input_content{
    height: 100%;
    width: 80%;
    font-size: 15px;
    border: none;
}

/* 게시 버튼 */
.upload_btn{
    width: 20%;
    height: 5%;
    padding: 0 10px;
}

.upload_form_btn{
    width: 90%;
    height: 90%;
    border: none;
    background-color: #303030;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}